body {
	margin-top: 1.0em;
	background-color: #ffffff;
	font-family: Helvetica, Arial, FreeSans, san-serif;
	color: #505050;
	}

#container {
	margin: 0 auto;
	width: 100%;
	}

h1 {
	font-size: 2.0em;
	color: #080808;
	margin-bottom: 3px;
	}
	
h1 .small {
	font-size: 0.4em;
	}
	
h1 a {
	text-decoration: none;
	}
	
h2 {
	font-size: 1.5em;
	color: #303030;
	}
	
h3 {
	text-align: center;
	color: #303030;
	}
	
a {
	color: #303030;
	}

.description {
	font-size: 1.2em;
	margin-bottom: 30px;
	margin-top: 30px;
	font-style: italic;
	}
	
.logo {
	float: right;
	}
	
pre {
	background: #F0F0F0;
	color: #111111;
	padding: 15px;
	}
	
hr {
	border: 0;
	width: 80%;
	border-bottom: 1px solid #aaa;
	}
	
.footer {
	text-align:center;
	padding-top:30px;
	font-style: italic;
	color: #303030;
	}
